@use "../../../styles/theme";

@keyframes hammerAnimation {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}

.hammer-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  height: 100%;
  @include theme.inset-area-surface;

  .hammer {
    animation: hammerAnimation 0.5s infinite;
    color: theme.$color-h3;
  }
  p{
    @include theme.h2;
  }
}
