@use "colors";

@mixin inset-area-surface {
  border-radius: 16px;
  background: colors.$background-default;
  box-shadow: 4px 4px 16px 0px rgba(13, 39, 80, 0.16) inset, -8px -8px 43px 0px rgba(255, 255, 255, 0.60) inset, -4px -4px 8px 0px rgba(255, 255, 255, 0.60) inset;
}

@mixin inset-surface {
  border-radius: 40px;
  border: 0.5px solid #FEFEFF;
  background: linear-gradient(134deg, #EEF1F8 4.98%, #E6E9F3 94.88%);
  box-shadow: 5px 5px 10px 0 rgba(166, 180, 210, 0.75) inset, -5px -5px 15px 0 rgba(255, 255, 255, 0.75) inset;
}

@mixin surface-selected-default {
  box-shadow: 0 8px 32px 0 colors.$shadow-default;
  background: colors.$background-primary-point;
}

@mixin tag-background-default {
  background: colors.$background-secondary-default;
  border-radius: 16px;
}
