@use "../../stylesheets/theme" as theme;

$sidebar-width: 300px;
$area-gap: 1.75rem;

.cover{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  width: 100vw;
  background-image: theme.$background-default;
  z-index: -1;
}

.layout {
  display: grid;
  height: 100vh;
  grid-template-columns: calc($sidebar-width + $area-gap) 1fr;
  grid-template-areas: "sidebar content";
  gap: $area-gap;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
}

.sidebar-area {
  grid-area: sidebar;
  position: fixed;
  top: $area-gap;
  left: $area-gap;
  height: calc(100% - calc($area-gap * 2));
  @media (max-width: 1100px) {
    display: none;
  }
}

.content-area {
  grid-area: content;
  align-self: stretch;
  margin: 2rem 0 0;
  max-width: 768px;
  height: calc(100% - calc($area-gap * 2));
  @media (max-width: 1100px) {
    padding: 0 $area-gap;
  }
}
