@use "../../stylesheets/theme" as theme;

$sidebar-width: 300px;
$area-gap: 1.75rem;

.cover{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  width: 100vw;
  background-image: theme.$background-default;
  z-index: -1;
}

.sidebar-area {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - calc($area-gap * 4));
  width: $sidebar-width;
  padding-top: $area-gap;
  padding-left: $area-gap;
}

.content-area {
  display: flex;
  max-width: 768px;
  margin-top: theme.pxToRem(32px);
  margin-bottom: theme.pxToRem(32px);
  margin-left: calc(calc($area-gap * 2) + $sidebar-width);

  @media (max-width: 1100px) {
    margin-left:$area-gap;
  }
}
