@use "../../stylesheets/theme";

.category-list{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0 16px;
  height: 100%;
  @include theme.inset-area-surface;
}

.category-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  cursor: pointer;

  &:first-child{
    margin-top: 16px;
  }

  .category-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;

    &:hover{
    }

    .title-left{
      display: flex;
      align-items: center;
      column-gap: 16px;

      .title{
        @include theme.menu-text;
      }
      .post-count{
        strong{
          font-weight: 500;
        }
        @include theme.caption-text;
      }
    }
  }

  .selected{
    background: theme.$card-title;
    &:hover{
      background: theme.$card-title;
    }
    .title-left{
      .title{
        @include theme.selected-text;
      }

      .post-count{
        strong{
          font-weight: 500;
        }
        @include theme.caption-text-selected;
      }
    }

  }

  ul{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px;
    li{
      list-style: none;
      @include theme.p;

      &:hover{
        text-decoration: underline;
      }
    }
  }

}
