@use 'colors';

@mixin typography($size, $weight, $color) {
  font-family: Pretendard, serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word
}

h1 {
  @include typography(40px, 700, colors.$color-h1);
}

h2 {
  @include typography(32px, 700, colors.$color-h2);
}

h3 {
  @include typography(28px, 600, colors.$color-h3);
}

h4 {
  @include typography(24px, 600, colors.$color-h4);
}

h5 {
  @include typography(20px, 600, colors.$color-h5);
}

h6 {
  @include typography(16px, 600, colors.$color-h6);
}

p {
  @include typography(16px, 400, colors.$color-p);
}

@mixin selected-text {
  color: colors.$selected-text;
  font-weight: 600;
}
