$background: #ffffff;
$card-background: #e5e5e5;
$card-point-background: #404040;
$color-chip: #c9c9c9;
$color-chip-text: #282828;
$input-background: #FFFFFF;
$text-default: rgb(95, 95, 95);
$text-highLight: #454545;
$text-bright: #ededed;
$text-sub: #7d7d7d;
$text-code-background: #dbdbdb;
$table-head-background: #d5d5d5;
$table-body-background: #f3f3f3;
