$background: #fff9f0;
$card-background: #fbefdf;
$card-point-background: #462e25;
$color-chip: #8d6852;
$color-chip-text: #fbefdf;
$input-background: #FFFFFF;
$text-default: #462e25;
$text-highLight: #27282d;
$text-bright: #fbefdf;
$text-sub: #7d7d7d;
$text-code: #cbd9f;
