@use 'utils';
@use 'colors';

.feed-card-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%,auto));
  gap: 16px;
  padding: utils.pxToRem(16px);
}

.feed-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: utils.pxToRem(16px);
  border-radius: 16px;
  text-decoration: none;

  img {
    border-radius: 16px;
    object-fit: cover;
  }

  .text-area {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    h2{
      font-size: utils.pxToRem(24px);
      font-weight: 600;
      color: colors.$text-default;
    }
    p{
      font-size: 1rem;
      color: colors.$text-sub;
    }
  }
}
