@use '../../stylesheets/_theme' as theme;

.feed-card-list{
  display: grid;
  column-gap: 16px;
  row-gap: 24px;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding-bottom: 24px;

  .feed-card {
    display: flex;
    flex-direction: column;
    row-gap: theme.pxToRem(8px);
    border-radius: 8px;
    background: #E9E9E9;
    box-shadow: -4px -4px 12px 0px rgba(255, 255, 255, 0.60), 6px 6px 12px 0px rgba(174, 174, 192, 0.40);

    .feed-thumbnail {
      height: 250px;
      border-radius: 8px 8px 0 0;
      object-fit: cover;
      max-width: 100%;
    }

    .text-area {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      row-gap: 4px;
      padding: 4px 8px 8px 8px;

      p{
        color: theme.$sub-text;
      }

      .text-area-top{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
      }

      .post-title{
        font-size: 18px;
        font-weight: 500;
        color: theme.$color-p;
      }

      .category{
        display: flex;
        column-gap: 8px;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
