@use "../../stylesheets/_theme" as theme;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 24px;
  height:100%;
  @include theme.surface-background-default;

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .item, .search, {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 16px;
      padding: 16px;
      column-gap: 16px;
      color: theme.$plain-text;
      p {
        font-size: 18px;
      }
    }

    .item {
      box-shadow: none;
      transition: box-shadow 0.3s ease-out;
    }

    .item:hover {
      background-color: theme.$background-point;
    }

    .selected{
      @include theme.surface-selected-default;
      p{
        @include theme.selected-text;
      }
    }

    .search {
      input {
        border: none;
        font-size: theme.pxToRem(18px);
        background: none;
      }
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: theme.pxToRem(16px);
    border-radius: 0 0 16px 0;
    padding: theme.pxToRem(16px);

    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }

    .nickname {
      font-weight: 600;
      font-size: theme.pxToRem(18px);
    }

    .profile-link {
      display: flex;
      column-gap: 8px;
    }
  }

  @media (max-width: 1100px) {
    display: none;
  }
}
